@using Sitecore.Mvc
@using Neambc.Neamb.Feature.GeneralContent
@using Neambc.Neamb.Foundation.Analytics.Extensions
@using Neambc.Neamb.Foundation.Configuration.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Neambc.Neamb.Feature.GeneralContent.Models.SecuredBodyDTO

@{
    bool isExperienceEditor = Sitecore.Context.PageMode.IsExperienceEditor;
}
@if (isExperienceEditor)
{
    <div class="@Model.BodyBackgroundColorClass">
        @Html.Sitecore().Field(Templates.PageBody.Fields.PageBodyBody, Model.Item).Process(Model.StringProcessor)
        @Html.Sitecore().Field(Templates.SecuredContent.Fields.SecuredBody, Model.Item).Process(Model.StringProcessor)
    </div>
}
else
{
    if (Model.DisplayComponent)
    {
        <div class="@Model.BodyBackgroundColorClass">
            @if (Model.IsSecuredBodyEmpty)
            {
                @Html.Sitecore().Field(Templates.PageBody.Fields.PageBodyBody, Model.Item).Process(Model.StringProcessor)
            }
            else if (Model.IsUserWarmOrHot)
            {
                @Html.Sitecore().Field(Templates.SecuredContent.Fields.SecuredBody, Model.Item).ReplaceTokens(Model.Tokens).Process(Model.StringProcessor)
            }
            else
            {
                @Html.Sitecore().Field(Templates.PageBody.Fields.PageBodyBody, Model.Item).Process(Model.StringProcessor)
            }
        </div>
    }
}
