@using Neambc.Neamb.Feature.GeneralContent
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Neambc.Neamb.Feature.GeneralContent.Models.TwoColumnTout

<div style="background-color: @Model.BackgroundColor;">
    <section class="container-fluid c-074">
        <div class="col-md-6">
            <img class="img-fit" src="@Model.ImageUrl" alt="@Model.ImageAlt" loading="lazy"/>
        </div>
        <div class="col-md-6 col-sm-12 content p">
            <div class="col-md-11">
                <h2>
                    @Html.Sitecore().Field(Templates.TwoColumnTout.Fields.Headline, Model.Item)
                </h2>
                @Html.Sitecore().Field(Templates.TwoColumnTout.Fields.Content, Model.Item)
            </div>
        </div>
    </section>
</div>