@using Neambc.Neamb.Feature.Cards
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Neambc.Neamb.Feature.Cards.Models.TwoColumnGridDTO
@{
    bool isExperience = Sitecore.Context.PageMode.IsExperienceEditor;
}
@if (!isExperience)
{
    if (Model.HasHeadline || Model.HasSubheadline)
    {
        <text>
            @Html.Raw("<div class=\"top\">")
        </text>
    }
    if (Model.HasHeadline)
    {
        <h2 class="header text-center">@Html.Sitecore().Field(Templates.TwoColumnGrid.Fields.Header, Model.Item)</h2>
    }
    if (Model.HasSubheadline)
    {
        <p class="subhead no-margin-auto text-center">@Html.Sitecore().Field(Templates.TwoColumnGrid.Fields.Subhead, Model.Item)</p>
    }
    if (Model.HasHeadline || Model.HasSubheadline)
    {
        <text>@Html.Raw("</div>")</text>
    }
}
else
{
    <div class="top">
        <h2 class="header text-center">@Html.Sitecore().Field(Templates.TwoColumnGrid.Fields.Header, Model.Item)</h2>
        <p class="subhead no-margin-auto text-center">@Html.Sitecore().Field(Templates.TwoColumnGrid.Fields.Subhead, Model.Item)</p>
    </div>
}