@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Neambc.Neamb.Feature.Account
@model Neambc.Neamb.Feature.Account.Models.FieldRepDTO

<section class="new-design form col-centered">
    <div class="col-xs-12">
        <form id="field-rep" method="post" accept-charset="UTF-8" role="form" autocomplete="off">
            <div class="step-header">
                <h5>@Html.Sitecore().Field(Templates.FieldRepForm.Fields.Title, Model.Item)</h5>
                @Html.Sitecore().Field(Templates.FieldRepForm.Fields.Intro, Model.Item)
            </div>
            <div class="form-section">
                <div class="floating-section m-t-xl">
                    <div class="floating-group">
                        <select id="state" name="state"
                                onclick="this.setAttribute('value', this.value);" onchange="this.setAttribute('value', this.value);" 
                                value="" required="required" data-msg-required="@Html.Sitecore().Field(Templates.FieldRepForm.Fields.EmptyField, Model.Item, new {@DisableWebEdit = true})">
                            <option value="">Select an option...</option>
                            @foreach (var selectItem in Model.StateList)
                            {
                                if (selectItem.Selected)
                                {
                                    <option value="@selectItem.Value" selected="selected">@selectItem.Text</option>
                                }
                                else
                                {
                                    <option value="@selectItem.Value">@selectItem.Text</option>
                                }
                            }
                        </select>
                        <label for="state">@Html.Sitecore().Field(Templates.FieldRepForm.Fields.Label, Model.Item)</label>
                    </div>
                    <div class="floating-messages">
                        <div class="floating-error-messages"></div>
                        @if (Model.HasTooltip)
                        {
                            <div class="floating-info-messages">
                                @Html.Sitecore().Field(Templates.FieldRepForm.Fields.Tooltip, Model.Item, new { @DisableWebEdit = true })
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="form-section">
                <button type="submit" class="btn btn-new btn-outline-default m-t-sm">
                    @Html.Sitecore().Field(Templates.FieldRepForm.Fields.Submit, Model.Item, new { @DisableWebEdit = true })
                    <i style="display: none;" class="fa fa-spinner fa-spin"></i>
                </button>
            </div>
            <input type="hidden" name="fhController" value="FieldRepController" data-abide-ignore />
            <input type="hidden" name="fhAction" value="FieldRep" data-abide-ignore />
        </form>
    </div>
</section>