@using Neambc.Neamb.Feature.Product
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Neambc.Neamb.Feature.Product.Model

@model SweepstakesBaseDTO
@{
    string classNameFirst = Model.IsPositionRight ? "col-md-6 col-md-push-6" : "col-md-6";
}

<div class="@classNameFirst">
    @if (!String.IsNullOrEmpty(Model.Video))
    {
        if (Model.Video.Contains("https://content.jwplatform.com/players/"))
        {
            <script src="@Model.Video"></script>
        }
        else
        {
            <iframe frameborder="0" height="315" src="@Model.Video" width="100%"></iframe>
        }
    }
    else
    {
        @Html.Sitecore().Field(Templates.LandingPageCta.Fields.Image, Model.Item, new { @class = "img-responsive", loading = "lazy" })
    }
    @if (Model.SocialShare.ShowSocialShare && Model.IsPositionRight)
    {
        <div class="col-md-10 pull-right hidden-xs hidden-sm">
            @Html.Raw(Model.SocialShare.AddThisHtml)
        </div>
    }
</div>

@if (Model.SocialShare.ShowSocialShare && Model.IsPositionRight)
{
    @Html.Raw(Model.SocialShare.AddThisJSContent)
}
