@using Neambc.Seiumb.Project.Web
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Neambc.Seiumb.Foundation.Sitecore.Extensions
@using Sitecore.Data.Fields
@using Neambc.Seiumb.Foundation.Sitecore.Utility

@model Sitecore.Mvc.Presentation.RenderingModel
@{

    string parameterRedirect = !string.IsNullOrEmpty(Request.QueryString[ConstantsSeiumb.ParameterRedirect]) ? Request.QueryString[ConstantsSeiumb.ParameterRedirect] : string.Empty;

    if (!RedirectionHelper.CanRedirectPreviousPage(parameterRedirect))
    {
        parameterRedirect = "";
    }

    LinkField continueField = Model.Item.Fields[Templates.ThankYouTemplate.Fields.ContinueButton];
}

@{
    if (Session["EventSuccess"] != null)
    {
        if ((bool)Session["EventSuccess"] == true)
        {
            <script type="text/javascript">
                $(document).ready(function(){
                   @Html.Raw(Session["GTMAction"])
                })
            </script>
            Session["EventSuccess"] = null;
            Session["GTMAction"] = null;
        };
    }
}
<div id="product_details_content" class="row">
    <div id="contact_us_content" class="row">
        <div class="show-for-medium medium-1 large-1 columns">
            &nbsp;
        </div>
        <div id="contact_us_form" class="small-12 medium-10 large-10 columns float-center">
            <div id="thanks_content" class="small-12 medium-12 large-12 columns">
                <h4>@Html.Sitecore().Field(Templates.ThankYouTemplate.Fields.Title, Model.Item)</h4>
                <hr />
                @Html.Sitecore().Field(Templates.ThankYouTemplate.Fields.Body, Model.Item)
                @if (!String.IsNullOrEmpty(parameterRedirect))
                {
                    <a class="button" href="@parameterRedirect">@continueField.Text</a>
                }
                else
                {
                    @Html.Sitecore().Field(Templates.ThankYouTemplate.Fields.ContinueButton, Model.Item, new { @class = "button" })
                }
            </div>
        </div>
        <div class="show-for-medium medium-1 large-1 columns">
            &nbsp;
        </div>
    </div>
</div>


